* {
	background-repeat: no-repeat;
}
.imdiv {
	float:center;
	margin: auto;
	width: 100%;
	height: 100%;
	border-width: 5px;
	border-color: #B7C6D3;
	border-style: solid;
}
label {
	background-color: gold;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.fix {
	float: fixed;
	top: 0%;

}
.tora{
	background-image: url(https://cdn.pixabay.com/photo/2015/03/26/09/54/pug-690566_960_720.jpg);
	background-size: contain; 	
	background-position: fixed;
	float: center;
background-repeat: repeat-y;
flex-direction: column;}
	

#prvii {
	text-align: center;
	color: gold;

}
.rowside {
	opacity: 0.7;
}
img {
	float: center;
	width: 250px;
	height: 200px;
	margin: 1%;
	opacity: 0.7;
	transition: all 1s;	
}
#img:hover {
	
	border-style: solid;
	border-color: black;
	border-width: 2px;
	transform: scale(1.2);
	opacity: 1;	 }
#present {
	width: 40%;
	border-bottom: 1px solid #ccccff;
	border-right: 1px solid #ccccff;
	border-left: 1px solid #ccccff;
	margin: auto;
	box-shadow: 2px 2px #ccccff;
}
#presentt {
	background-repeat: no-repeat;	
	margin: 10px auto auto auto;
}
#im {
	float: center;
	height: 100%;
	width: 100%
opacity: 1;
}
img:clicked {
	border: 12px red solid;
}